<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{.Detail.Title}}</title>
  <meta name="keywords" content="{{.Detail.Labels}}">
  <meta name="description" content="{{.Detail.Abstract}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/vb/css/common.css">
  <link rel="stylesheet" href="/vb/css/detail.css">
  <link rel="stylesheet" href="/vb/css/prism.css">

<body>
  <section class="art">
    <h1>{{.Detail.Title}}</h1>
    <p class="time">{{.Detail.CreateTime | DateFk}}&nbsp;&nbsp;{{.Detail.SeeSum}}</p>
    <article>
      {{.Detail.Content | RenderHtml}}
    </article>
  </section>
  <div class="review_box">
    <h3>3 条评论</h3>
    <div id='add_review' class="add_review">
      <div class="text">
        <img src="https://gravatar.com/avatar/?d=mm&s=100" alt="">
        <textarea name="" id="review_content" cols="45" rows="3"></textarea>
        <span id="send_pl" class="send">提交</span>
      </div>
      <div class="user_detail clear">
        <span>
          <div class="item">
            <label for="author"></label>
            <span class="required">*</span>
            <input id="author" type="text" placeholder="昵称">
          </div>
          <div class="item item1">
            <label for="email"></label>
            <span class="required">*</span>
            <input id="email" type="text" placeholder="邮箱">
          </div>
          <div class="item">
            <label for="url"></label>
            <input id="url" type="text" placeholder="网站">
          </div>
        </span>
      </div>
    </div>
    <div class="ul">
      {{range $i, $v := .Reviews}}
      <section class="reviews">
        <div class="reviews_item">
          <img src="https://gravatar.com/avatar/?d=mm&s=100" alt="">
          <h4>
            <a href="">{{.UserName}}</a>
            <i>{{.CreateTime | DateFk1}}</i>
            <span data={{.ID}} class="reply">回复</span>
          </h4>
          <p>{{.Content | RenderHtml}}</p>
        </div>
        {{range .Children}}
        <section class="reviews">
          <div class="reviews_item">
            <img src="https://gravatar.com/avatar/?d=mm&s=100" alt="">
            <h4>
              <a href="">{{.UserName}}</a>
              <i>{{.CreateTime | DateFk1}}</i>
              <span data={{$v.ID}} user-name={{.UserName}} class="reply">回复</span>
            </h4>
            <p>{{.Content | RenderHtml}}</p>
          </div>
        </section>
        {{end}}
      </section>
      {{end}}
    </div>
    <div id="reply_add_review" class="add_review">
      <span id='reset' class="reset">取消评论</span>
      <img src="https://gravatar.com/avatar/?d=mm&s=100" alt="">
      <div class="text">
        <textarea name="" id="reply_content" cols="45" rows="3"></textarea>
        <span id="send_reply" class="send">提交</span>
      </div>
      <div class="user_detail clear">
        <span>
          <div class="item">
            <label for="reply_author"></label>
            <span class="required">*</span>
            <input id="reply_author" type="text" placeholder="昵称">
          </div>
          <div class="item item1">
            <label for="reply_email"></label>
            <span class="required">*</span>
            <input id="reply_email" type="text" placeholder="邮箱">
          </div>
          <div class="item">
            <label for="reply_url"></label>
            <input id="reply_url" type="text" placeholder="网站">
          </div>
        </span>
      </div>
    </div>
  </div>
  <div style="display:none" id="newsId">{{.Detail.ID}}</div>
  <script src="/vb/js/zepto.js"></script>
  <script src="/vb/js/common.js"></script>
  <script src="/vb/js/prism.js"></script>
  <script>
    $(function () {
      setTimeout(function () {
        $.get('/v1/news/updateSum?id=' + $('#newsId').text(), function (response) {
        })
      }, 1000)
      //发送评论
      $('#send_pl').click(function () {
        $.post('/v1/news_review/add', JSON.stringify({
          newId: $('#newsId').text(),
          content: $("#author").val(),
          email: $("#email").val(),
          userName: $("#review_content").val(),
          parentId: '',
          url: $("#url").val()
        }), function (data) {
          window.location.reload()
        })
      })

      // 回复
      var reply_add_review = $('#reply_add_review'),
        add_review = $('#add_review'),
        replyUser = '',
        replyId = '';

      reply_add_review.hide();
      $('.reply').click(function (ev) {
        add_review.hide();
        var target = $(ev.target);
        target.parents('.reviews_item').after(reply_add_review);
        reply_add_review.show();
        replyUser = target.attr('user-name') || '';
        replyId = target.attr('data') || ''
      })
      // 隐藏回复评论
      $('#reset').click(function () {
        add_review.show();
        reply_add_review.hide();
      })

      //发送回复
      $('#send_reply').click(function () {
        $.post('/v1/news_review/add', JSON.stringify({
          newId: $('#newsId').text(),
          content: replyUser ? "<a>@" + replyUser + "</a>" + $("#reply_author").val() : $("#reply_author").val(),
          email: $("#reply_email").val(),
          userName: $("#reply_content").val(),
          parentId: replyId,
          url: $("#reply_url").val()
        }), function (data) {
          window.location.reload()
        })
      })
    })
  </script>
</body>

</html>