<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>魏翼超然</title>
  <meta name="keywords" content="魏翼超然|技术分享">
  <meta name="description" content="魏翼超然博客，记录学习，分享知识，技术分享">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/vb/img/favicon.ico">
  <link rel="stylesheet" href="/vb/css/common.css">
  <link rel="stylesheet" href="/vb/css/index.css">
  <link rel="stylesheet" href="/vb/css/pagination.min.css">

<body>
  <div class="content clear">
    <div class="left">
      <h1>魏翼超然，技术分享</h1>
      <ul>
        {{range $key, $value :=.List}}
        <li>
          <h3>
            <a href="/detail/{{$value.Year}}/{{$value.Month}}/{{$value.UrlEn}}" title="{{$value.Title}}" target="_blank">
              {{$value.Title}}
            </a>
          </h3>
          <p>
            <i>{{$value.TypeName}}／</i>
            <i>{{$value.CreateTime  | DateFk}}／</i>
            <i>{{$value.SeeSum}}人预览／</i>
            <i>{{$value.ReviewSum}}条评论</i>
          </p>
          <div>{{$value.Abstract}}</div>
        </li>
        {{end}}
      </ul>
    </div>
    <!-- <div class="right">
      dff
    </div> -->
    <div id="pagination">
    </div>
  </div>
  <script src="/vb/js/common.js"></script>
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="/vb/js/pagination.min.js"></script>
  <script>
    $(function () {
      paginationInt();
    })
    function paginationInt(){
      var count = {{.Count}}
      var pageSize={{.PageSize}}
      if(count>pageSize){
        var arr = [];
      for (var i = 0; i < count; i++) {
        arr.push(i)
      }
      var key=false;
      $('#pagination').pagination({
        dataSource: arr,
        pageSize: pageSize,
        showGoInput: true,
        showGoButton: true,
        pageNumber: {{.PageNum}},
        callback: function (data, pagination) {
          if (key) {
            location.href = '/?pageSzie='+pageSize+'&pageNumber=' + (parseInt(data) + 1)
          }
          key = true;
        }
      })
      }
    }
  </script>
</body>
</html>