<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>angular</title>
  <base href="./admin/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/assets/libs/prism/prism.css">
  <script src="/assets/libs/prism/prism.js"></script>
<link rel="stylesheet" href="styles.d4f408bc59042c4a9042.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.60559afeb461f257fbac.js"></script><script type="text/javascript" src="polyfills.14aaf0cc1739b25911c6.js"></script><script type="text/javascript" src="scripts.d25d1e24cbdb296f550e.js"></script><script type="text/javascript" src="main.da6ba950a88586f9bf70.js"></script></body>
</html>
