<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>angular</title>
  <base href="./admin/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.c13cd25a092b911e95fc.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.ab56f0d46c3f5d2a1f44.js"></script><script type="text/javascript" src="polyfills.d19af636bcf00eb4898f.js"></script><script type="text/javascript" src="main.ba8d56f7a8e517ed1d93.js"></script></body>
</html>
