<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>angular</title>
  <base href="./admin/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/assets/libs/prism/prism.css">
  <script src="/assets/libs/prism/prism.js"></script>
<link rel="stylesheet" href="styles.7720bf58db3fc95ded99.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.4ea88e9e3992e271a3bb.js"></script><script type="text/javascript" src="polyfills.d19af636bcf00eb4898f.js"></script><script type="text/javascript" src="scripts.8515888ad1d60a131208.js"></script><script type="text/javascript" src="main.794cbed37757fc04b9db.js"></script></body>
</html>
