<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular6Base</title>
  <base href="./">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.e45c20d2f7b7a74a6c9f.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.4a2c6bb1c88c37f43ebb.js"></script><script type="text/javascript" src="polyfills.0b5822a3af76d8119fd1.js"></script><script type="text/javascript" src="main.89bf7f912ee10fb055b6.js"></script></body>
</html>
