.art{ margin: 20px auto; max-width: 800px;}
.art>h1{ padding: 10px 0; color: #000;}
.art .time{padding-bottom:15px; color: #999; text-indent: 20px;
  border-bottom: 1px solid #ededed; margin-bottom: 20px;}
.art article img{ max-width: 100%;}

