body{ margin-top:2000px;}
.body{ margin: 0 auto; max-width: 1200px;}
.content{ margin: 20px 10px;}

.left{ float: left; width: 850px; background: #fff; 
  padding: 0 20px 20px 20px; }
.left h1{ padding: 10px 0; color: #000;}
.left .time{padding-bottom:15px; color: #999;
  border-bottom: 1px solid #ededed; margin-bottom: 20px;}
.left article img{ max-width: 100%;}

.right{float: left; width: 235px; margin-left: 15px; padding: 10px;
  min-height: 600px;
  background: #fff;
}




@media screen and (max-width:850px){
  .left{width: 100%; float: none; padding: 0 15px;}
  
  .right{width: 100%; float: none;}
}