.content{ margin: 20px  auto; max-width: 800px;}
ul,li{ list-style-type: none; margin: 0; padding: 0 }
h3,p{ padding: 0; margin: 0; font-weight: normal;}
a, a:link, a:visited { text-decoration: none }

.left{ width: 100%;}
.left h1{ padding: 0 20px; color: #000; text-align: center}
.left ul{}
.left li{ border-bottom: 1px solid #ededed;
  padding: 15px 20px;}
.left li h3 a{ display: block; font-size: 20px; line-height: 40px;
   color: #222; }
.left li h3 a:hover{ color: #099;}
.left li div{ color: #666;}
.left li p{ color: #999;}

#pagination{ text-align: center; padding: 20px;}



@media screen and (max-width:850px){
  .left{width: 100%; float: none; padding: 0 15px;}
  
  .right{width: 100%; float: none;}
}