body{ margin: 0 auto; max-width: 1200px;}
.content{ margin: 20px 10px;}

.left{ float: left; width: 850px; background: #fff;}
.left h1{ padding: 0 20px; color: #000;}
.left ul{}
.left li{ border-bottom: 1px solid #ededed;
  padding: 15px 20px;}
.left li h2{ font-size: 16px; line-height: 40px; color: #222; }
.left li div{ color: #999;}

.right{float: left; width: 235px; margin-left: 15px; padding: 10px;
  min-height: 600px; 
  background: #fff;
}




@media screen and (max-width:850px){
  .left{width: 100%; float: none; padding: 0 15px;}
  
  .right{width: 100%; float: none;}
}